<script>
  (function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.head.getElementsByTagName('script')[0]);})(
    'cwr',
    '84ac3305-d7ba-4e2a-a36f-aecb63398a98',
    '1.0.0',
    'eu-west-1',
    '/assets/js/cwr.js',
    {
      sessionSampleRate: 1,
      guestRoleArn: "arn:aws:iam::566043575815:role/RUM-Monitor-eu-west-1-566043575815-0972025075561-Unauth",
      identityPoolId: "eu-west-1:0568f213-388a-4d85-8b5d-d453b0634068",
      endpoint: "https://dataplane.rum.eu-west-1.amazonaws.com",
      telemetries: ["performance","errors","http"],
      allowCookies: false,
      enableXRay: false
    }
  );
</script>